.App-button-item {
    margin: 16px;
}

.App-map-container {
    height: calc(100vh - 56px);
    width: 100%;
}

.App-button-center {
    height: 24px;
    cursor: pointer;
}

#map-container {
    width: 100%;
    height: 100%;
}

